<div class="container-fluid">
  <div class="row my-3">
    <div class="col-lg-2">
      <table class="table table-borderd">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
